<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form id="zqwssubmit" name="zqwssubmit" action="http://sign.zqsign.com/mobileSignView" method='post'>
    <input type="hidden" name='no' value="HMCONTRACT20181227155623110979"/><input type="hidden" name='user_code'
                                                                               value="HMZQb2a874222e944d05adf45af995ba7e0f"/><input
        type="hidden" name='return_url' value="https://dl.hmdata.com.cn/zhognqian/successed.html"/><input type="hidden"
                                                                                                          name='zqid'
                                                                                                          value="ZQF4643748CAF147E48267C1EC4AAB17A3"/><input
        type="hidden" name='notify_url' value="http://app.hmdata.com.cn:9191/hemo/spAudit/pdd/sign/notify"/><input
        type="hidden" name='sign_val'
        value="HTyqfb+Md0zv7jnxzbCXebKegubOOBHHyOnKxPdIx/r4wOma537kRNWhAfIJ2T+sFNgBbv1oFGiDcycEdI9or7/j8wPdyXH0r2E/gphhwwtfLoerH86vAJMji62firIku6uqy6VfG7KQncH04Jc/0YxVUNoQPIq9APAFi20Y6+w="/><input
        type="hidden" name='sign_type' value="WRITTENCODE"/><input type="hidden" name='sign_val'
                                                                   value="JLYlJp0x6jEepTWfoDZzi/u4YfhL6neejyIp6yvpCi+7VDISvuTdcyoiRMcMkKsArn6VCQI9kRcyXWviNDlqX4qAj3/VohGBwgBKQqI7+M6kUJn/eeSW4WQGwiy+zPVDV2dctIA2fM0mq9EHySyAHlUSYjrx8prIgMFXM7l1xTs="/><input
        type="submit" value='确认' style="display:none;"></form>
<script>document.forms['zqwssubmit'].submit();</script>
</body>
</html>